*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    overflow-wrap: break-word;
}

img{
    max-width: 100%;
}

a{
    color: #111;
    text-decoration: none;
}

body{
    background: #c7c8cb;
    padding: 50px 20%;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 768px){
    body{
        padding: 30px 20px;
    }
}

/* Container */
.container{
    width: 100%;
}


/* Header and Search Field Section */
.header, .footer{
    text-align: center;
}
.header-top{    
    margin-bottom: 30px;
}
.header-bottom{    
    margin-bottom: 40px;
}

.header-bottom input, 
.header-bottom button{    
    padding: 5px;
    font-size: 20px;
}
.header-bottom button{    
    margin-left: -5px;
}

/* Content Section */
.section{
    margin-bottom: 40px;
}
.section-head{
    margin-bottom: 10px;
}
.section-head h2{
    font-size: 20px;
    margin-bottom: 2px;
}
.section-head p{
    font-size: 14px;
}
.section-head h2, 
.section-content h3{
    font-weight: 400;
}
.section-content:not(.form-element-container),
.section-content input,
.section-content button{
    padding: 10px 15px;
    background: rgb(248, 248, 248);
    font-size: 18px;
    border-radius: 5px;
    min-height: 44px;
}
.section-content input,
.section-content button{
    width: 100%;
    border: 0;
}
.section-content input:hover,
.section-content button:hover,
.original-response .section-content:hover,
.raw-data .section-content:hover,
#generate-meta-btn:hover{
    background: #e7e7e7;
    transition-duration: .2s;
    cursor: pointer;
}
.section-content input:active,
.section-content input:focus-visible{
    outline: 0;
}

/* Social Card Preview */
.social-card-preview{
    max-width: 400px;
    margin: 0 auto;
    padding: 0 !important;
    border-radius: 0;
    box-shadow: 3px 3px 2px #9b9a9a;
}
.social-card-content{
    padding: 10px 15px;
    font-size: 14px;
}
.social-card-image{
    max-width: 400px;    
    max-height: 210px;
    overflow: hidden;
}
.social-card-title{
    font-size: 14px;
    font-weight: 600 !important;
    margin-bottom: 8px;
}
.social-card-description{
    margin-bottom: 8px;
}
.section-content input, 
.social-card-description{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* Google SERP Preview */
.google-serp-preview{    
}
.google-serp-preview-breadcrumb-link, 
.google-serp-preview-description{
    font-size: 14px;
    color: #202124;
    margin-bottom: 6px;
}
.google-serp-preview-breadcrumb-link:after {
    content: '\2807';
    margin-left: 20px;
}
.google-serp-preview-title{
    color: #1a0dab;
    font-size: 20px;
    margin-bottom: 6px;
}
.google-serp-preview-description{
    margin-bottom: 0px;
}

/* Social Image */
.og-image{
    display: inline-block;
}
.og-image .section-content{
    display: flex;
    align-items: center;
    border-radius: 5px 5px 0 0;
}
.og-image h3{
    font-size: 16px;
}

/* Social Image Properties */
.og-image-properties{
}
.og-image-properties .section-content{
    font-size: 16px;
    overflow-x: auto;
}
.og-image-properties table{
    width: 100%;
    text-align: center;
}
.og-image-properties table td,
.og-image-properties table th{
    padding: 6px 0px;
}

/* Raw Data */
.raw-data .section-content,
.original-response .section-content{
    padding: 0;
}
.raw-data a,
.original-response a{
    display: block;
    padding: 10px 15px;
}

/* Original Response */
.original-response{
}
.content-head{
    text-align: center;
}
.content-head a:hover .original-response .content-head{
    background-color: rgb(17, 17, 182);
}
.content-body{
    display: none;
    margin-top: 15px;
    font-size: 12px;
    padding: 0px 15px 10px;
}
.show{
    display: block !important;
}
.original-response pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* Generate Meta Tags */
.generate-meta-tags .section-content{
    background: rgb(248, 248, 248);
    border-radius: 5px;
}
.generate-meta-tags .section-content button{
    border-radius: 0px;
    background: rgb(248, 248, 248);
}
.generate-meta-tags pre{
    padding: 0 15px;
    overflow-y: auto;
    font-size: 15px;
}


/* Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer hr{
    width: 150px;
    border-color: rgb(0, 0, 0);
}
.footer p{
    margin: 0 15px;
}