*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

img{
    max-width: 100%;
}

body{
    background: rgb(212, 224, 252);
    padding: 50px 20%;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 768px){
    body{
        padding: 30px 20px;
    }
}

/* Header and Search Field Section */
.header, .footer{
    text-align: center;
}
.header-top{    
    margin-bottom: 30px;
}
.header-bottom{    
    margin-bottom: 40px;
}

.header-bottom input, .header-bottom button{    
    padding: 5px;
    font-size: 20px;
}
.header-bottom button{    
    margin-left: -5px;
}

/* Content Section */
.section{
    margin-bottom: 40px;
}
.section-head{
    margin-bottom: 10px;
}
.section-head h2{
    font-size: 20px;
    margin-bottom: 2px;
}
.section-head p{
    font-size: 14px;
}
.section-head h2, .section-content h3{
    font-weight: 400;
}
.section-content{
    padding: 10px 15px;
    background: rgb(248, 248, 248);
    font-size: 18px;
    border-radius: 5px;
    min-height: 44px;
}

/* Social Card Preview */
.social-card-preview{
    max-width: 400px;
    margin: 0 auto;
    padding: 0;
    border-radius: 0;
    box-shadow: 3px 3px 2px #9b9a9a;
}
.social-card-content{
    padding: 10px 15px;
    font-size: 14px;
}
.social-card-image{
    max-width: 400px;    
    max-height: 210px;
    overflow: hidden;
}
.social-card-title{
    font-size: 14px;
    font-weight: 600 !important;
    margin-bottom: 8px;
}
.social-card-description{
    margin-bottom: 8px;
}
.section-content h3, .social-card-description{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* Google SERP Preview */
.google-serp-preview{    
}
.google-serp-preview-breadcrumb-link, .google-serp-preview-description{
    font-size: 14px;
    color: #202124;
    margin-bottom: 6px;
}
.google-serp-preview-breadcrumb-link:after {
    content: '\2807';
    margin-left: 20px;
}
.google-serp-preview-title{
    color: #1a0dab;
    font-size: 20px;
    margin-bottom: 6px;
}
.google-serp-preview-description{
    margin-bottom: 0px;
}

/* OG Image */
.og-image{
    border-radius: 5px 5px 0 0;
}


/* Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer hr{
    width: 200px;
    background: rgb(134, 134, 134);
}
.footer p{
    margin: 0 15px;
}